/* ****************
     General
 ****************** */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #555;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 1;
}

a:hover {
  text-decoration: none;
}

h1 {
  text-align: center;
}

section {
  align-items: center;
  padding: 70px 100px;
}

section p {
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
  font-family: 'Lato', sans-serif;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-section .section-h1 {
  width: 100%;
  margin-bottom: 40px;
  margin-left: 20px;
  background: -webkit-linear-gradient(#2d8659, #39ac73);
  background: -o-linear-gradient(#2d8659, #39ac73);
  background: -moz-linear-gradient(#2d8659, #39ac73);
  background: linear-gradient(#2d8659, #39ac73);
  -webkit-transform: skewX(-40deg);
  -moz-transform: skewX(-40deg);
  -ms-transform: skewX(-40deg);
  -o-transform: skewX(-40deg);
  transform: skewX(-40deg);
}

.bg-section .section-h1 h1 {
  text-transform: none;
  padding: 15px 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-transform: skewX(40deg);
  -moz-transform: skewX(40deg);
  -ms-transform: skewX(40deg);
  -o-transform: skewX(40deg);
  transform: skewX(40deg);
}

/* General slide up */
.slideanim {
  visibility: hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/* Service slide left */
.slideanimleft {
  visibility: hidden;
}

.slideleft {
  animation-name: slideleft;
  -webkit-animation-name: slideleft;
  -moz-animation-name: slideleft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  /* Make the element visible */
  visibility: visible;
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@media (max-width: 600px) {
  section {
    padding: 20px 10px;
  }

  .bg-section .section-h1 {
    margin: 10px 5px 30px 5px;
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
    transform: skewX(-10deg);
  }

  .bg-section .section-h1 h1 {
    padding: 15px 0;
    font-size: 24px;
    font-weight: 500;
    -webkit-transform: skewX(10deg);
    -moz-transform: skewX(10deg);
    -ms-transform: skewX(10deg);
    -o-transform: skewX(10deg);
    transform: skewX(10deg);
  }
}
/* ****************
 *    Head
 ****************** */
.header-full {
  color: white;
  background: url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 100px;
}

.header-full .logo-law {
  float: left;
  height: 120px;
  margin-top: 10px;
  margin-left: -50px;
}

.header-full .logo-law:hover {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.header-full .navbar {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: none;
  background-color: transparent;
  min-width: 300px;
  border: none;
}

.header-full .navbar-nav > li > a {
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: 1px white solid;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  padding: 8px 16px;
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0);
}

.header-full .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.header-full .navbar-nav > li > a:focus, 
.header-full .navbar-nav > li > a:hover, 
.header-full .navbar-nav > li > a:active {
  color: #41ac86;
}

.header-full .navbar-nav > li > a:focus:before, 
.header-full .navbar-nav > li > a:hover:before, 
.header-full .navbar-nav > li > a:active:before {
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.header-full .navbar-nav {
  margin-top: 12px;
}

.header-full .navbar-nav li {
  margin-right: 20px;
}

.header-full .navbar-toggle {
  background-color: transparent !important;
  margin-top: 20px;
  border: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.header-full .navbar-toggle .icon-bar {
  background-color: white;
}

.header-full .hero {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 120px;
}

.header-full .hero h1 {
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin-bottom: 36px;
  font-family: 'Lato', sans-serif;
}

.header-full .hero p {
  color: #5a5a5a;
  color: rgba(90, 90, 90, 0.7);
  font-size: 22px;
  max-width: 660px;
  margin: 0 auto 20px;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
}

.header-full .hero-contact {
  margin-left: 50px;
  font-size: 15px;
  font-weight: 600;
  color: #aaa;
  line-height: 5px;
}

@media (max-width: 600px) {
  .header-full {
    color: white;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
  }

  .header-full .logo-law {
    display: none !important;
  }

  .header-full .navbar-nav > li > a {
    padding: 8px 16px;
    margin: 0 5px 20px 5px;
    text-align: center;
  }

  .header-full .navbar-toggle {
    margin-top: 0;
  }

  .header-full .hero {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .header-full .hero h1 {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .header-full .hero p {
    font-size: 18px;
  }

  .header-full .hero-contact {
    margin-left: 20px;
    font-size: 14px;
  }
}
/* ***** About ***** */
#about {
  background-color: #eee;
}

#about img {
  margin-right: 0;
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
}

#about img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

#about .carousel {
  height: 447px;
  background-color: #595959;
  margin-left: 0;
}

#about .about-me h3 {
  font-size: 25px;
  background-color: #595959;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
  text-transform: none;
}

#about .carousel-inner p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  padding: 25px;
  color: #fff;
  word-spacing: 4px;
}

#about .carousel-indicators li {
  height: 7px;
  width: 40px;
  border: 1px solid #fff;
  margin-right: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  background-color: transparent;
}

#about .carousel-indicators li.active {
  background-color: #fff;
}

#about hr {
  margin-top: 0;
  border: 1px solid #fff;
  margin: auto 30px;
}

@media (max-width: 600px) {
  #about .carousel-inner p {
    font-size: 14px;
    line-height: 20px;
  }

  #about .carousel {
    height: 550px;
  }
}
/*--------------------
 *  Service
 *--------------------- */
#service {
  background-color: #fff;
}

#service .tab-content {
  background-color: #d1d1e0;
  background-color: rgba(209, 209, 224, 0.5);
  height: 500px;
  padding: 25px;
}

#service .brand-pills li a {
  font-size: 15px;
  padding: 45px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #494949;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

#service .brand-pills li a:focus {
  font-size: 15px;
  padding: 45px 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: #494949;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

#service .brand-pills li.active a {
  background-color: #00b386;
}

#service .brand-pills li.active a:focus, #service .brand-pills li.active a:hover, #service .brand-pills li.active a:focus:hover {
  background-color: #00b386;
}

#service .brand-pills > li > a:hover, #service .brand-pills > li > a:focus:hover {
  background-color: #00b386;
}

#service li.brand-nav.active a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 55px solid transparent;
  border-bottom: 55px solid transparent;
  border-left: 25px solid #00b386;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  left: 100%;
  z-index: 2;
}

#service h3 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

#service p {
  font-size: 17px;
  line-height: 25px;
  text-align: left;
  font-weight: 500;
  color: #0f0f0f;
  color: rgba(15, 15, 15, 0.6);
  word-spacing: 4px;
}

#service hr {
  border: 1px solid #757;
  margin: 25px;
}

@media (max-width: 600px) {
  #service .tab-content {
    height: 680px;
    padding: 10px;
  }

  #service h3 {
    font-size: 17px;
  }

  #service p {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 5px;
  }

  #service .brand-pills li a {
    font-size: 14px;
    padding: 20px 15px;
  }

  #service .brand-pills li a:focus {
    font-size: 14px;
    padding: 20px 15px;
  }

  #service li.brand-nav.active a:after {
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 10px solid #00b386;
    margin-top: -30px;
  }
}
/*************** 
 *  News 
 **************** */
#news {
  background-color: #eee;
}

#news .about-news {
  background: #00b386;
  background: -webkit-radial-gradient(#00e6ac, #00b386);
  background: -moz-radial-gradient(#00e6ac, #00b386);
  background: -o-radial-gradient(#00e6ac, #00b386);
  background: radial-gradient(#00e6ac, #00b386);
  height: 400px;
  margin-top: 0;
}

#news .news-text {
  padding: 65px 30px;
  color: #fff;
  font-size: 20px;
  line-height: 1.4em;
  text-align: center;
  font-weight: 600;
}

#news .post {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

@media (max-width: 600px) {
  #news .news-text {
    padding: 25px 10px;
    font-size: 15px;
    line-height: 1.4em;
  }

  #news .about-news {
    height: 300px;
  }

  #news .post {
    margin-top: 10px;
  }
}
/*----------------------
 *   Testimonials
 *---------------------- */
#testimonials .projects {
  margin: auto 120px;
}

#testimonials .grid li {
  padding: 5px;
  height: 220px;
  border-radius: none;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #555;
}

#testimonials .projects p {
  color: #fff;
  font-size: 15px;
  padding: 35px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

#testimonials .grid li {
  flex-basis: 50%;
}

#testimonials li:hover {
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  -moz-transition: width 1s, height 1s, -moz-transform 1s;
  -o-transition: width 1s, height 1s, -o-transform 1s;
  transition: width 1s, height 1s, transform 1s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #222;
}

@media (max-width: 600px) {
  #testimonials .projects {
    margin: auto 10px;
  }

  #testimonials .grid li {
    padding: 5px auto;
    height: 250px;
    min-width: 200px;
  }

  #testimonials .projects p {
    font-size: 12px;
    padding: 25px;
    line-height: 20px;
  }
}
/*--------------------
 *  Contact
 *-------------------- */
#contact {
  background-color: #eee;
}

#contact .contact-address {
  background-color: #262626;
}

#contact .contact-hours {
  background-color: #404040;
}

#contact .contact-contact {
  background-color: #595959;
}

#contact .cont-box h4 {
  text-align: center;
  padding: 15px 0 5px;
  color: #fff;
}

#contact .cont-box p {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  color: #fff;
}

#contact .contacts > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

#contact .to-top {
  color: #fff;
  font-size: 30px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 40px;
  width: 40px;
  text-decoration: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-align: center;
  background-color: #545454;
  background-repeat: no-repeat;
  background-position: center;
}

#contact .to-top:hover {
  background-color: #222;
  color: #00b386;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 600px) {
  #contact .cont-box {
    margin: 10px;
    padding-bottom: 10px;
  }

  #contact .cont-box h4 {
    padding: 15px 0 0 0;
  }

  #contact .cont-box p {
    font-size: 14px;
    padding: 10px;
  }

  #contact .to-top {
    right: 5px;
    bottom: 5px;
  }
}
/*---------------------
 *    Footer
 *--------------------- */
#footer {
  background-color: #191919;
  background-color: rgba(25, 25, 25, 0.8);
  color: #fff;
  padding: 80px 70px;
}

#footer h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#footer .footer-info {
  text-align: center;
}

#footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 22px;
  color: #00b386;
  text-align: center;
  line-height: 35px;
  margin-right: 15px;
}

#footer .footer-icons a:hover {
  background-color: #fff;
}

#footer .contacts .fa {
  color: #00b386;
}

#footer .nav-links ul {
  font-size: 14px;
  padding-bottom: 20px;
  color: #555;
  line-height: 2.2;
  text-align: center;
}

#footer .nav-links a:hover {
  color: #00b386;
}

#footer .hr-footer {
  display: block;
  width: 80%;
  color: #fff;
  margin: 15px auto;
}

@media (max-width: 600px) {
  #footer {
    padding: 50px 10px;
  }

  #footer h4 {
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 15px;
  }

  #footer .nav-links a {
    font-size: 14px;
    padding-bottom: 20px;
    line-height: 20px;
  }

  #footer .footer-info {
    padding-bottom: 20px;
  }
}

.copyright {
  background-color: #00aa9c;
}

.copyright p {
  text-align: center;
  color: #fff;
  padding: 5px 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 600;
}