@import 'mixandvar';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
  color: #555;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 1;
  &:hover {
    text-decoration: none;
  }
}

h1 {
  text-align: center
}

section {
  align-items: center;
  padding: 70px 100px;
  p {
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
    font-family: 'Lato', sans-serif;
  }
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bg-section .section-h1 {
  width: 100%;
  margin-bottom: 40px;
  margin-left: 20px;

  @include linear-gradient($green, $light-green);
  @include skewX(-40deg);
  
  h1 {
    text-transform: none;
    padding: 15px 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    @include skewX(40deg);
  }
}

/* General slide up */

.slideanim {
  visibility: hidden;
}

.slide {
  @include animation-name(slide);
  @include animation-duration(2s);
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(60%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}  

/* Service slide left */

.slideanimleft {
  visibility: hidden;
}

.slideleft {
  @include animation-name(slideleft);
  @include animation-duration(1.5s);
  /* Make the element visible */
  visibility: visible;
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes slideleft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@media (max-width: 600px) {
  section {
    padding: 20px 10px;
  }
  .bg-section .section-h1 {
    margin: 10px 5px 30px 5px;
    @include skewX(-10deg);
    h1 {
      padding: 15px 0;
      font-size: 24px;
      font-weight: 500;
      @include skewX(10deg);
    }
  }
}

/* ****************
 *    Head
 ****************** */

.header-full {
  color: white;
  background: url("../img/hero.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 100px;
  .logo-law {
    float: left;
    height: 120px;
    margin-top: 10px;
    margin-left: -50px;
    &:hover {
      -webkit-filter: grayscale(50%);
      filter: grayscale(50%);
    }
  }
  .navbar {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: none;
    background-color: transparent;
    min-width: 300px;
    border: none;
  }
  .navbar-nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: 1px white solid;
    @include border-radius(0);
    padding: 8px 16px;
    margin-top: 25px;
    font-family: 'Lato', sans-serif;
    @include translateX(0);
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #eee;
      @include scaleX(0);
      @include transform-origin(0);
      @include transition-property(transform);
      @include transition-timing-function(ease);
      @include transition-duration(0.4s);
    }
    &:focus, &:hover, &:active {
      color: rgb(65, 172, 134);
    }
    &:focus:before, &:hover:before, &:active:before {
       @include scaleX(1);
    }
    
  }
 
  .navbar-nav {
    margin-top: 12px;
    li {
      margin-right: 20px;
    }
  }
  .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
    @include border-radius(0);
    .icon-bar {
      background-color: white;
    }
  }
  .hero {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 120px;
    h1 {
      color: white;
      font-weight: bold;
      font-size: 60px;
      margin-bottom: 36px;
      font-family: 'Lato', sans-serif;
    }
    p {
      color: $medium-grey;
      color: rgba(90, 90, 90, 0.7);
      font-size: 22px;
      max-width: 660px;
      margin: 0 auto 20px;
      font-weight: 500;
      line-height: 1.2;
      font-family: 'Lato', sans-serif;
    }
  }
  .hero-contact {
    margin-left: 50px;
    font-size: 15px;
    font-weight: 600;
    color: #aaa;
    line-height: 5px;
  }
}

@media (max-width: 600px) {
  .header-full {
    color: white;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
    .logo-law {
      display: none !important;
    }
    .navbar-nav > li > a {
      padding: 8px 16px;
      margin: 0 5px 20px 5px;
      text-align: center;
    }
    .navbar-toggle {
      margin-top: 0;
    }
    .hero {
      margin-top: 30px;
      margin-bottom: 50px;
      h1 {
        font-size: 30px;
        margin-bottom: 25px;
      }
      p {
        font-size: 18px;
      }
    }
    .hero-contact {
      margin-left: 20px;
      font-size: 14px;
    }
  }
}

/* ***** About ***** */

#about {
  background-color: #eee;
  img {
    margin-right: 0;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    &:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  .carousel {
    height: 447px;
    background-color: $l-black;
    margin-left: 0;
  }
  .about-me h3 {
    font-size: 25px;
    background-color: $l-black;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
    text-transform: none;
  }
  .carousel-inner p {
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    padding: 25px;
    color: #fff;
    word-spacing: 4px;
  }
  .carousel-indicators li {
    height: 7px;
    width: 40px;
    border: 1px solid #fff;
    margin-right: 5px;
    @include border-radius(50px);
    background-color: transparent;
    &.active {
      background-color: #fff;
    }
  }
  hr {
    margin-top: 0;
    border: 1px solid #fff;
    margin: auto 30px;
  }
}

@media (max-width: 600px) {
  #about {
    .carousel-inner p {
      font-size: 14px;
      line-height: 20px;
    }
    .carousel {
      height: 550px;
    }
  }
}

/*--------------------
 *  Service
 *--------------------- */

#service {
  background-color: #fff;
  .tab-content {
    background-color: $v-light-blue;
    background-color: rgba(209, 209, 224, 0.5);
    height: 500px;
    padding: 25px;
  }
  .brand-pills {
    li {
      a {
        font-size: 15px;
        padding: 45px 15px;
        @include border-radius(0);
        background-color: $grey;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0;
        &:focus {
          font-size: 15px;
          padding: 45px 15px;
          @include border-radius(0);
          background-color: $grey;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          margin: 0;
        }
      }
      &.active a {
        background-color: $v-light-green;
        &:focus, &:hover, &:focus:hover {
          background-color: $v-light-green;
        }
      }
    }
    > li > a {
      &:hover, &:focus:hover {
        background-color: $v-light-green;
      }
    }
  }
  li.brand-nav.active a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 25px solid $v-light-green;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    left: 100%;
    z-index: 2;
  }
  h3 {
    font-size: 25px;
    text-align: center;
    font-weight: 500;
  }
  p {
    font-size: 17px;
    line-height: 25px;
    text-align: left;
    font-weight: 500;
    color: $black-p;
    color: rgba(15, 15, 15, 0.6);
    word-spacing: 4px;
  }
  hr {
    border: 1px solid #757;
    margin: 25px;
  }
}
@media (max-width: 600px) {
  #service {
    .tab-content {
      height: 680px;
      padding: 10px;
    }
    h3 {
      font-size: 17px;
    }
    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 5px;
    }
    .brand-pills li a {
      font-size: 14px;
      padding: 20px 15px;
      &:focus {
        font-size: 14px;
        padding: 20px 15px;
      }
    }
    li.brand-nav.active a:after {
      border-top: 30px solid transparent;
      border-bottom: 30px solid transparent;
      border-left: 10px solid $v-light-green;
      margin-top: -30px;
    }
  }
}

/*************** 
 *  News 
 **************** */

#news {
  background-color: #eee;
  .about-news {
    background: #00b386;
    @include radial-gradient($m-light-green, $v-light-green);
    height: 400px;
    margin-top: 0;
  }
  .news-text {
    padding: 65px 30px;
    color: #fff;
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
    font-weight: 600;
  }
  .post {
    @include border-radius(0);
  }
}
@media (max-width: 600px) {
  #news {
    .news-text {
      padding: 25px 10px;
      font-size: 15px;
      line-height: 1.4em;
    }
    .about-news {
      height: 300px;
    }
    .post {
      margin-top: 10px;
    }
  }
}

/*----------------------
 *   Testimonials
 *---------------------- */
#testimonials {
  .projects {
    margin: auto 120px;
  }
  .grid li {
    padding: 5px;
    height: 220px;
    border-radius: none;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    background-color: #555;
  }
  .projects p {
    color: #fff;
    font-size: 15px;
    padding: 35px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .grid li {
    flex-basis: 50%;
  }
  li:hover {
    @include transition(1s, 1s, 1s);
    @include scale(1.1);
    background-color: #222;
  }
}
@media (max-width: 600px) {
  #testimonials {
    .projects {
      margin: auto 10px;
    }
    .grid li {
      padding: 5px auto;
      height: 250px;
      min-width: 200px;
    }
    .projects p {
      font-size: 12px;
      padding: 25px;
      line-height: 20px;
    }
  }
}

/*--------------------
 *  Contact
 *-------------------- */
#contact {
  background-color: #eee;
  .contact-address {
    background-color: $black;
  }
  .contact-hours {
    background-color: $m-black;
  }
  .contact-contact {
    background-color: $l-black;
  }
  .cont-box {
    h4 {
      text-align: center;
      padding: 15px 0 5px;
      color: #fff;
    }
    p {
      font-size: 15px;
      text-align: center;
      padding: 10px;
      color: #fff;
    }
  }
  .contacts > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
  .to-top {
    color: #fff;
    font-size: 30px;
    position: fixed;
    right: 15px;
    bottom: 15px;
    height: 40px;
    width: 40px;
    text-decoration: none;
    @include border-radius(0);
    text-align: center;
    background-color: #545454;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      background-color: #222;
      color: #00b386;
      @include transition-one(1s);
    }
  } 
}
@media (max-width: 600px) {
  #contact {
    .cont-box {
      margin: 10px;
      padding-bottom: 10px;
      h4 {
        padding: 15px 0 0 0;
      }
      p {
        font-size: 14px;
        padding: 10px;
      }
    }
    .to-top {
      right: 5px;
      bottom: 5px;
    }
  } 
}

/*---------------------
 *    Footer
 *--------------------- */

#footer {
  background-color: $black-footer;
  background-color: rgba(25, 25, 25, 0.8);
  color: #fff;
  padding: 80px 70px;
  h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-info {
    text-align: center;
  }
  .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    @include border-radius(0);
    font-size: 22px;
    color: #00b386;
    text-align: center;
    line-height: 35px;
    margin-right: 15px;
    &:hover {
      background-color: #fff;
    }
  }
  .contacts .fa {
    color: $v-light-green;
  }
  .nav-links {
    ul {
      font-size: 14px;
      padding-bottom: 20px;
      color: #555;
      line-height: 2.2;
      text-align: center;
    }
    a:hover {
      color: $v-light-green;
    }
  }
  .hr-footer {
    display: block;
    width: 80%;
    color: #fff;
    margin: 15px auto;
  }
}
@media (max-width: 600px) {
  #footer {
    padding: 50px 10px;
    h4 {
      font-weight: 500;
      font-size: 17px;
      margin-bottom: 15px;
    }
    .nav-links a {
      font-size: 14px;
      padding-bottom: 20px;
      line-height: 20px;
    }
    .footer-info {
      padding-bottom: 20px;
    }
  }
}

.copyright {
  background-color: #00aa9c;
  p {
    text-align: center;
    color: #fff;
    padding: 5px 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
  }
}
